PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bus_platform
JWT_SECRET=trocar_por_um_segredo_forte
SYSTEM_SUPERVISOR_USERNAME=pedro.fonte
SYSTEM_SUPERVISOR_PASSWORD=6489
SYSTEM_SUPERVISOR_NAME=Administrador do Sistema
